<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="balailab.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v2.0.50727" sku="Client"/>
    </startup>
    <userSettings>
        <balailab.My.MySettings>
            <setting name="KdPetugas" serializeAs="String">
                <value/>
            </setting>
            <setting name="Server" serializeAs="String">
                <value/>
            </setting>
            <setting name="tmpKdReg" serializeAs="String">
                <value/>
            </setting>
            <setting name="tmpKdTarif" serializeAs="String">
                <value/>
            </setting>
            <setting name="tmpQtySample" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NmKomputer" serializeAs="String">
                <value/>
            </setting>
            <setting name="AppPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SuksesLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CancelLogin" serializeAs="String">
                <value>False</value>
            </setting>
        </balailab.My.MySettings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
